article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  box-sizing: border-box; }

header {
  background-image: url("assets/hero2.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 90vh;
  width: 100%; }
  header .wrapper {
    position: relative;
    height: 90vh; }

nav {
  position: fixed;
  left: 0;
  right: 0;
  padding: 0 5%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 95px;
  z-index: 99999; }
  nav a {
    color: black; }

.main-nav-scrolled {
  background: beige;
  height: 60px; }

.logo {
  font-size: 40px;
  font-weight: 900; }

.nav-bar li {
  margin: 0 5px; }
  .nav-bar li a {
    padding: 10px;
    display: block; }

.header-text {
  position: absolute;
  bottom: 22%;
  right: 0;
  text-align: right; }
  .header-text > h1 {
    font-size: 80px; }

.firstSVG {
  width: 100%;
  height: 110px;
  background: transparent;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  fill: #fcfcfc; }

#detailPage header {
  background: salmon;
  height: 60vh; }
  #detailPage header .wrapper {
    height: 60vh; }
    #detailPage header .wrapper .header-text {
      top: 50%;
      right: 50%;
      -webkit-transform: translate(50%, -50%);
              transform: translate(50%, -50%);
      text-align: center; }
      #detailPage header .wrapper .header-text > h1 {
        font-size: 60px; }

.hamburgerMenu {
  display: none; }
  .hamburgerMenu div {
    width: 40px;
    height: 5px;
    background: red;
    margin-bottom: 6px; }
    .hamburgerMenu div:last-child {
      margin-bottom: 0; }

@media (max-width: 569px) {
  ul.nav-bar.fl-row {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    padding: 0 5%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: green;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .hamburgerMenu {
    display: block; }
  .header-text h1 {
    font-size: 60px; }
  .header-text h2 {
    font-size: 20px; } }

@media (max-width: 440px) {
  .nav-bar li {
    margin: 0; }
    .nav-bar li a {
      font-size: 14px; } }

* {
  font-family: 'Montserrat', sans-serif; }

body {
  background: #fcfcfc; }

h1, h2 {
  font-family: 'Alegreya Sans SC', sans-serif; }

h2 {
  font-size: 38px; }

p {
  font-weight: 100;
  line-height: 1.618; }

h1, h2, h3, h4, h5, ul, li {
  margin: 0;
  padding: 0; }

ul, li {
  list-style-type: none; }

img {
  width: 100%; }

a {
  text-decoration: none; }

.wrapper {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto; }

.content-wrapper {
  width: 90%;
  margin: 0 auto; }

main > section {
  padding: 50px 0; }

.sectionGrey {
  background-color: #e8e8e8; }

.sectionDarkGrey {
  background-color: #d7dadb; }

.fl-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.fl-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

.keyline {
  width: 40px;
  height: 3px;
  background: #2b2627; }

.btn {
  border: none;
  font-family: 'Montserrat', sans-serif;
  border-radius: 1px;
  width: 180px;
  padding: 10px;
  font-weight: 300;
  letter-spacing: 1px;
  text-align: center; }

.btn-light {
  background: none;
  border: 1px solid #ff1744;
  color: #ff1744;
  transition: 0.4s; }

.btn-light:hover {
  background: #ff1744;
  color: #fcfcfc;
  cursor: pointer;
  box-shadow: 0 0 5px 1px #fcfcfc; }

.secondSVG {
  width: 100%;
  height: 110px;
  background: #d7dadb;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  fill: #fcfcfc; }

.thirdSVG {
  width: 100%;
  height: 110px;
  background: #d7dadb;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  fill: #fcfcfc; }

.fourthSVG {
  width: 100%;
  height: 110px;
  background: #d7dadb;
  position: absolute;
  top: 0;
  fill: #fcfcfc; }

.sectionTitle {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0 0 50px;
  position: relative; }
  .sectionTitle .keyline {
    position: absolute;
    left: 0; }

.about-box .about-photo {
  width: 30%;
  margin-right: 20px; }

.about-box .about-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%; }
  .about-box .about-text p {
    width: 50%;
    padding: 0 10px; }
  .about-box .about-text p:nth-of-type(2) {
    position: relative; }

.viewCV {
  margin-top: 10px;
  position: absolute;
  left: 15%;
  bottom: 15%; }

.sectionDarkGrey .wrapper, .sectionGrey .wrapper, .photoDiv .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center; }

.archDiv .wrapper {
  width: 80%; }

.main-carousel-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  width: 100%; }
  .main-carousel-first .fa {
    position: absolute;
    font-size: 50px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 99;
    color: red;
    opacity: 0.4;
    transition: 0.4s; }
    .main-carousel-first .fa:hover {
      opacity: 1;
      font-size: 55px;
      cursor: pointer; }

.carousel-cell-first {
  margin-bottom: 60px;
  width: calc(50% - 30px);
  height: 250px;
  overflow: hidden;
  position: relative; }

.carousel-cell-first:nth-of-type(even) {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-left: auto; }

.carousel-image {
  height: 75%;
  background-size: cover;
  background-position: center; }

.image1 {
  background-image: url("assets/project1.jpg"); }

.image2 {
  background-image: url("assets/project2.jpg"); }

.carousel-description, .carousel-photo-description {
  transition: 0.4s;
  position: absolute;
  bottom: 0;
  height: 100px;
  padding: 20px;
  background: linear-gradient(#fcfcfc 30%, rgba(252, 252, 252, 0.6)); }
  .carousel-description .details, .carousel-photo-description .details {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.carousel-photo-description {
  height: 50px; }

.description-hover {
  height: 100%; }

.read-more {
  margin: 0 auto; }

.carousel {
  background: #EEE; }

.carousel-cell {
  width: 33.3333%;
  height: 200px;
  margin-right: 5px;
  border-radius: 5px;
  counter-increment: carousel-cell;
  margin-bottom: 0; }

.cell1 {
  background-image: url("../public/assets/project1.jpg");
  background-size: cover;
  background-position: center; }

.cell2 {
  background-image: url("../public/assets/project2.jpg");
  background-size: cover;
  background-position: center; }

.moreCell {
  display: none; }

.hidden {
  display: none;
  transition: 1s; }

.posr {
  position: relative;
  padding: 150px 0; }

.aboutDiv, .photoDiv {
  padding: 80px 0; }

.photoDiv {
  background: #fcfcfc; }

.resumeDiv {
  padding: 150px 0 80px; }

.contactDiv {
  padding: 150px 0 50px;
  background: #d7dadb; }

#detailPage div {
  text-align: center; }
  #detailPage div p {
    width: 100%; }

#detailPage .sectionTitle {
  margin-bottom: 25px; }

.projectDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .projectDetails .eachDetail {
    width: 25%;
    text-align: center;
    padding: 20px;
    border-right: 1px solid grey;
    font-size: 12px; }
    .projectDetails .eachDetail:last-child {
      border-right: none; }
    .projectDetails .eachDetail p:first-child {
      font-size: 14px;
      font-weight: 300 !important; }

.detailPhotoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 0;
  -webkit-column-count: 5;
          column-count: 5;
  -webkit-column-gap: 0px;
          column-gap: 0px; }
  .detailPhotoContainer .detailPic {
    display: inline-block;
    margin-bottom: 10px;
    height: 300px; }
    .detailPhotoContainer .detailPic img {
      width: 100%;
      height: 100%; }
  .detailPhotoContainer .large {
    width: calc(65% - 5px); }
  .detailPhotoContainer .small {
    width: calc(35% - 5px); }

@media (max-width: 990px) {
  .about-box {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .about-box .about-text {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      width: 70%; }
      .about-box .about-text p {
        width: 100%; }
        .about-box .about-text p:last-child {
          padding-bottom: 70px; }
    .about-box .about-photo {
      width: 45%; }
  .viewCV {
    bottom: 0; } }

@media (max-width: 840px) {
  .about-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .about-box .about-text {
      width: 100%; }
    .about-box .about-photo {
      margin: 0 auto; }
  .viewCV {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); } }
