header {
	background: linear-gradient(rgba($primaryBlue, 0.95), rgba($primaryBlue, 0.95)), url('../../assets/img/2.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	height: 93vh;
	width: 100%;
	position: relative;	
	.headerText {
		animation-delay: 0.4s;
		animation-duration: 3s;
		text-align: right;
		width: 50%;
		transform: translateY(-25%);
		h1 {
			line-height: 0.8;
			letter-spacing: 4px;
			font-size: 100px;
		}
		h3 {
			color: $white;
			letter-spacing: 4px;
			margin-top: 10px;
			margin-right: 4px;
		}
	}
	.scrollDown {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		top: 80%;
		font-size: 60px;
		color: $accentColor;
		z-index: 99;
	}
	.scrollDown:hover {
		color: $white;
	}
	.firstSVG {
		position: absolute;
		bottom: 0;
	}
}

nav {
	width: 100%;
	background: transparent;
	transition: all 0.8s;
	animation-delay: 0.4s;
	animation-duration: 3s;
	.wrapper {
		height: 100px;
		justify-content: center;
		align-items: center;
		div {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			width: 100%;
			.res_menu {
				width: 30px;
			}
		}
		.logo {
			width: 80px;
		}
		a {
			color: $white;
		}
		.nav_menu {
			display: flex;
			padding: 0;
			li {
				list-style: none;
				margin-left: 55px;
			}
			a:hover {
				border-bottom: 1px solid white;
			}
		}

	}
}

.main-nav-scrolled {
	background: $primaryBlue;
	padding: 0;
	position: fixed;
	top: 0;
	z-index: 90;
	border-bottom: 1px solid rgba(39,55,71,1);
	min-height: 75px;
	.wrapper {
		padding: 5px 0;
		background: transparent;
		.logo {
			width: 50px;
		}
		a {
			color: $white;
		}
	} 
	.nav_menu.show {
		background: $accentColor;
	}
}