@import 'partials/normalize.scss';
@import 'partials/colors.scss';
@import 'partials/header.scss';
@import 'partials/footer.scss';

* {
	font-family: 'Montserrat', sans-serif;
}

body {
	background: $white;
}
h1,h2 {
	font-family: 'Alegreya Sans SC', sans-serif;
}

h2 {
	font-size: 38px;
}

p {
	font-weight: 100;
	line-height: 1.618;
}

h1,h2,h3,h4,h5,ul,li {
	margin: 0;
	padding: 0;
}

ul, li {
	list-style-type: none;
}

img {
	width: 100%;
}

a {
	text-decoration: none;
}

.wrapper {
	width: 90%;
	max-width: 1440px;
	margin: 0 auto;
}

.content-wrapper {
	width: 90%;
	margin: 0 auto;
}

main>section {
	padding: 50px 0;
}

.sectionGrey {
	background-color: $lightGrey;
}

.sectionDarkGrey {
	background-color: $darkGrey
}

.fl-col {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.fl-row {
	display: flex;
	flex-direction: row;
}

.keyline {
	width: 40px;
	height: 3px;
	background: $black;
}

.btn {
	border: none;
	font-family: 'Montserrat', sans-serif;
	border-radius: 1px;
	width: 180px;
	padding: 10px;
	font-weight: 300;
	letter-spacing: 1px;
	text-align: center;
}

.btn-light {
	background: none;
	border: 1px solid $accentColor;
	color: $accentColor;
	transition: 0.4s;
}

.btn-light:hover {
	background: $accentColor;
	color: $white;
	cursor: pointer;
	box-shadow: 0 0 5px 1px $white;
	// border: none;
}

.secondSVG {
	width: 100%;
	height: 110px;
	background: $darkGrey;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	fill: $white;
}

.thirdSVG {
	width: 100%;
	height: 110px;
	background: $darkGrey;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	fill: $white;
}

.fourthSVG {
	width: 100%;
	height: 110px;
	background: $darkGrey;
	position: absolute;
	top: 0;
	fill: $white;
}





.sectionTitle {
	align-self: center;
	margin: 0 0 50px;
	position: relative;
	.keyline {
		position: absolute;
		left: 0;
	}
}


// -------------------------------------- //


//********  About Section section  ********//


.about-box {

	.about-photo {
		width: 30%;
		margin-right: 20px;
	}
	.about-text {
		display: flex;
		width: 70%;
		& p {
			width: 50%;
			padding: 0 10px;
		}
		& p:nth-of-type(2) {
			position: relative;
		}
	}
}

.viewCV {
	margin-top: 10px;
	position: absolute;
	left: 15%;
	bottom: 15%;
}


.sectionDarkGrey .wrapper, .sectionGrey .wrapper, .photoDiv .wrapper {
	display: flex;
	flex-direction: column;

	text-align: center;
}

//********  Architecture section  ********//


.archDiv .wrapper {
	width: 80%;
}


.main-carousel-first {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	position: relative;
	width: 100%;
	.fa {
		position: absolute;
		font-size: 50px;
		top: 50%;
		transform: translateY(-50%);
		z-index: 99;
		color: red;
		opacity: 0.4;
		transition: 0.4s;
		&:hover {
			opacity: 1;
			font-size: 55px;
			cursor: pointer;
		}
	}
}

.carousel-cell-first {
	margin-bottom: 60px;
	width: calc(50% - 30px);
	height: 250px;
	// min-width: 450px; 
	overflow: hidden;
	position: relative;
}
.carousel-cell-first:nth-of-type(even) {
	align-self: flex-end;
	margin-left: auto;
}

.carousel-image {
	height: 75%;
	background-size: cover;
	background-position: center;
}

.image1 {
	background-image: url('assets/project1.jpg');
}
.image2 {
	background-image: url('assets/project2.jpg');
}

.carousel-description, .carousel-photo-description {
	transition: 0.4s;
	position: absolute;
	bottom: 0;
	height: 100px;
	padding: 20px;
	background: linear-gradient(rgba($white, 1) 30%, rgba($white, 0.6)) ;
	.details {
		justify-content: space-between;
	}
}
.carousel-photo-description {
	height: 50px;
}

.description-hover {
	height: 100%;
}

.read-more {
	margin: 0 auto;
}


//********  Photography section  ********//

.carousel {
  background: #EEE;
}

.carousel-cell {
  width: 33.3333%;
  height: 200px;
  margin-right: 5px;
  border-radius: 5px;
  counter-increment: carousel-cell;
  margin-bottom: 0;
}

.cell1 {
	background-image: url('../public/assets/project1.jpg');
	background-size: cover;
	background-position: center;
}
.cell2 {
	background-image: url('../public/assets/project2.jpg');
	background-size: cover;
	background-position: center;
}



.moreCell {
	// transition: 5s;
	display: none;
}
.hidden {
	display: none;
	transition: 1s;
}

.posr {
	position: relative;
	padding: 150px 0;
}

.aboutDiv, .photoDiv {
	padding: 80px 0;
}

.photoDiv {
	background: $white;
}

.resumeDiv {
	padding: 150px 0 80px;
}

.contactDiv {
	padding: 150px 0 50px;
	background: $darkGrey;
}



//Project Page

#detailPage {
	div {
		text-align: center;
		p {
			width: 100%;
		}
	}
	.sectionTitle {
		margin-bottom: 25px;
	}
}

.projectDetails {
	display: flex;
	justify-content: space-between;
	.eachDetail {
		width: 25%;
		text-align: center;
		padding: 20px;
		border-right: 1px solid grey;
		font-size: 12px;
		&:last-child {
			border-right: none;
		}
		p:first-child {
			font-size: 14px;
			font-weight: 300!important;
		}
	}
}

.detailPhotoContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	line-height: 0;
	column-count: 5;
	column-gap: 0px;
	.detailPic {
		display: inline-block;
		margin-bottom: 10px;
		height: 300px;
		img {
			width: 100%;
			height: 100%;
			// position: absolute;
		}
	}
	.large {
		width: calc(65% - 5px);
	}
	.small {
		width: calc(35% - 5px);
	}
}


@media (max-width: 990px) {
	// .about-box {
	// 	flex-wrap: wrap;
	// 	justify-content: center;
	// 	.about-photo {
	// 		width: 35%;
	// 	}
	// 	.about-text {
	// 		width: 100%;
	// 		p {
	// 			width: 50%;
	// 		}
	// 	}
	// }
	.about-box {
		justify-content: space-between;
		.about-text {
			display: flex;
			flex-direction: column;
			width: 70%;
			p {
				width: 100%;
				&:last-child {
					padding-bottom: 70px;
				}
			}
		}
		.about-photo {
			width: 45%;
		}
	}
	.viewCV {
		bottom: 0;
	}
}

@media (max-width: 840px) {
	.about-box {
		flex-direction: column;
		// justify-content: center;
		.about-text {
			width: 100%;
		}
		.about-photo {
			margin: 0 auto;
		}
	}
	.viewCV {
		left: 50%;
		transform: translateX(-50%);
	}
}